.nav {
  height: 100%;
  background: #8f8ece;
  left: -100%;

  &-wrapper {
    position: relative;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
    z-index: 2;


    &__active {
      transform: translateX(0%)
    }
  }

  &-button {
    background: #82bf30;
    color: #fff;
    position: absolute;
    left: 100%;
    border: none;
    width: 50px;
    height: 50px;
    transform: translateX(0);
    outline: none;
  }
}

h3 {
  margin: 0
}